* {
    font-family: 'Roboto Mono', monospace;
}

body {
    max-width: 750px;
    margin: auto;
}

p {
  font-size: 14px;
}

a {
  color: #2bbc8a
}

h1 {
    font-weight: bold;
}

h2 {
  color: #2bbc8a;
}

h3 {
  color: #2bbc8a;
}

li {
  font-size: 14px;
}

hr {
  margin-top: 10px;
  max-width: 600px;
}

object {
    margin-top: 50px;
    max-width: 200px;
}

.nav {
    list-style: none;
    text-align: center;
    margin-bottom: 50px;
}

.nav li {
    list-style: none;
    display: inline-block;
    margin: 0 20px 0 20px;
}

.nav a {
    font-weight: bold;
    text-decoration: none;
    color: #2bbc8a;
}

.section {
  margin: 20px 0px 20px 0px;
  padding: 5px 20px 5px 20px;
  background-color: #E5E5E5
}

.section-header {
  margin-bottom: 0px;
}
.section-meta {
  font-size: 11px;
  margin: 0;
}

.button-right {
  text-align: right;
  color: #ffffff;
  margin-top: 0px;
  padding: 0;
}

.footer {
    position: fixed;
    left: 50px;
    bottom: 50px;
    text-align: center;
}
